<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Person</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
<!--style type="text/css">
    a{
    	color: tomato;
    }
    a:hover{
    	color: red;
    }
    
    .btn{
    	background-color: tomato;
    }
    .btn:hover{
    	background-color: red;
    }
</style-->
</head>
<body>
	<div  class="container ml-2">
		<div class="row">
			<div class="col-md-10">
				<div >
					<h2 class="my-5">Persons</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>businessentityid</th>
								<th>firstname</th>
								<th>middlename</th>
								<th>lastname</th>
								<th>additionalcontactinfo</th>
								<th>demographics</th>
								<th>emailpromotion</th>
								<th>modifieddate</th>
								<th>namestyle</th>
								<th>persontype</th>
								<th>suffix</th>
								<th>title</th>
								<!-- Entities -->
								<th>businessentity</th>
								<!-- -------- -->
								<!-- Buttons -->
								<th>Edit</th>
								<th>Delete</th>
								<!-- ------- -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="person : ${persons}">
								<td th:text="${person.businessentityid}"/>
								<td th:text="${person.firstname}"/>
								<td th:text="${person.middlename}"/>
								<td th:text="${person.lastname}"/>
								<td th:text="${person.additionalcontactinfo}"/>
								<td th:text="${person.demographics}"/>
								<td th:text="${person.emailpromotion}"/>
								<td th:text="${person.modifieddate}"/>
								<td th:text="${person.namestyle}"/>
								<td th:text="${person.persontype}"/>
								<td th:text="${person.suffix}"/>
								<td th:text="${person.title}"/>
								<!-- Entities -->
								<td th:text="${person.businessentity}"/>
								<!-- -------- -->
								<!-- Buttons -->
								<td>
									<a th:href="@{/person/edit/{id}(id=${person.businessentityid})}" class="btn btn-primary">
										<i class="fas fa-edit"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-primary">
										<i class="fas fa-bomb"></i>
									</a>
								</td>
								<!-- ------- -->
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/person/add" class="btn btn-primary"><i
						class="fas fa-plus ml-2"></i></a>
				</p>
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
	</div>
</body>
</html>